// create an style to center a list of transactions
.transactions {
  // center the list of transactions
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 200px;
 
}
